@{
    Layout = "_LayoutEmpty";
    ViewData["Title"] = "權限不足";
}

<div class="col-md-6">
    <div class="clearfix">
        <h1 class="float-start display-3 me-4">401</h1>
        <h4 class="pt-3">權限不足</h4>
        <p class="text-medium-emphasis">您沒有權限訪問頁面。</p>
    </div>
    <div class="input-group">
        <a asp-action="Index" asp-controller="Home" class="btn btn-lg btn-primary mt-3">首頁</a>
    </div>
</div>
