@{
    Layout = "_LayoutEmpty";
    ViewData["Title"] = "系統錯誤";
}

<div class="col-md-6">
    <div class="clearfix">
        <h1 class="float-start display-3 me-4">500</h1>
        <h4 class="pt-3">系統錯誤</h4>
        <p class="text-medium-emphasis">很抱歉，系統發生錯誤，請稍後再試。</p>
    </div>
    <div class="input-group">
        <a asp-action="Index" asp-controller="Home" class="btn btn-lg btn-primary mt-3">首頁</a>
    </div>
</div>
