@model PublicityImageCommon
@{
    string path = Context.Request.Path;
    bool isShowUserLog = path.Contains("Create") == false;
}

<div class="col-md-6">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">基本資料</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div asp-validation-summary="ModelOnly"></div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="PublicityImageType" class="form-label"></label>
                        <select asp-for="PublicityImageType" asp-items="Html.GetEnumSelectList<PublicityImageType>(optionLabel:CommonStr.OptionLabel)" class="custom-select"></select>
                        <span asp-validation-for="PublicityImageType"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ImageTitle" class="form-label"></label>
                        <input asp-for="ImageTitle" class="form-control" />
                        <span asp-validation-for="ImageTitle"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ImageAlt" class="form-label"></label>
                        <input asp-for="ImageAlt" class="form-control" />
                        <span asp-validation-for="ImageAlt"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="DisplaySeq" class="form-label"></label>
                        <input asp-for="DisplaySeq" class="form-control" />
                        <span asp-validation-for="DisplaySeq"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="StartTime" class="form-label"></label>
                        <input asp-for="StartTime" class="form-control" />
                        <span asp-validation-for="StartTime"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="EndTime" class="form-label"></label>
                        <input asp-for="EndTime" class="form-control" />
                        <span asp-validation-for="EndTime"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="ImageLink" class="form-label"></label>
                        <input asp-for="ImageLink" class="form-control" />
                        <span asp-validation-for="ImageLink"></span>
                    </div>
                </div>
                @if (isShowUserLog)
                {
                    <partial name="_UserLog" model="Model" />
                }
            </div>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">圖片</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label asp-for="UploadImage"></label>
                        <small>圖片自動轉換成寬度1160px</small>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-file-alt"></i>
                                </div>
                            </div>
                            <div class="custom-file">
                                <input asp-for="UploadImage" type="file" class="custom-file-input" />
                                <label asp-for="UploadImage" class="custom-file-label">選擇檔案</label>
                            </div>
                        </div>
                        <span asp-validation-for="UploadImage"></span>
                    </div>
                </div>
                @if (Model.ImageFullUrl != null)
                {
                    <div class="col-12">
                        <img src="@Model.ImageFullUrl" class="img-fluid" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
