@model PublicityImageCommon

@{
    ViewData["Title"] = "宣傳圖片 - 修改";

    var headerBread = new HeaderWithBreadcrumb();
    headerBread.BreadcrumbItems.Add(new BreadcrumbItem() { Action = "Index", Controller = "PublicityImages", Title = "宣傳圖片" });
}

<partial name="_HeaderWithBreadcrumbPartial" model="headerBread" />

<section class="content">
    <div class="container-fluid">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="col-12 mb-3 text-right">
                    <partial name="_IndexBtn" model="ViewHelper.GetBtn(null, CommonStr.PublicityImages, CommonStr.Index)" />
                </div>
                <partial name="_Content" model="Model" />
                <div class="col-12 mb-3 text-right">
                    <partial name="_SaveBtn" />
                </div>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
