@{
    ViewData["Title"] = "";
}

@section Styles{
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/splidejs/4.1.4/css/splide.min.css" as="style" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/splidejs/4.1.4/css/splide.min.css" integrity="sha512-KhFXpe+VJEu5HYbJyKQs9VvwGB+jQepqb4ZnlhUF/jQGxYJcjdxOTf6cr445hOc791FFLs18DKVpfrQnONOB1g==" crossorigin="anonymous" referrerpolicy="no-referrer" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/splide-cus.min.css" />
}
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/splidejs/4.1.4/js/splide.min.js" integrity="sha512-4TcjHXQMLM7Y6eqfiasrsnRCc8D/unDeY1UGKGgfwyLUCTsHYMxF7/UHayjItKQKIoP6TTQ6AMamb9w2GMAvNg==" crossorigin="anonymous" referrerpolicy="no-referrer" asp-append-version="true"></script>
    @*<script src="~/lib/splide/splide-extension-intersection.min.js"></script>*@
    <script>
        var splide = new Splide('.splide', {
            // 1個Banner為1個進度條
            //autoplay: 'pause',
            //intersection: {
            //    inView: {
            //        autoplay: true,
            //    },
            //    outView: {
            //        autoplay: false,
            //    },
            //},
            //type: 'fade',
            autoplay: true,
            rewind: true,
            type: 'loop',
            //perPage: 1,
            //rewindSpeed: 3000,
            speed: '2000',
            //arrowPath:"",
            //lazyLoad: 'nearby',
            classes: {
                // Add classes for arrows.
                //arrows: 'splide__arrows your-class-arrows',
                //arrow: 'splide__arrow splide__arrow__new',
                //prev: 'splide__arrow--prev splide__arrow--prev--new',
                //next: 'splide__arrow--next splide__arrow--next--new',

                // Add classes for pagination.
                pagination: 'splide__pagination splide__pagination__new', // container
                page: 'splide__pagination__page splide__pagination__page__new', // each button
            },
        });

        // 依照Banner數量切成好幾個進度條
        //var bar = splide.root.querySelector('.splide__progress__bar__item');

        //splide.on('mounted move', function () {
        //    var end = splide.Components.Controller.getEnd() + 1;
        //    var rate = Math.min((splide.index + 1) / end, 1);
        //    bar.style.width = String(100 * rate) + '%';
        //});


        splide.mount();
                            //splide.mount(window.splide.Extensions);
    </script>
}

<div class="container-banner">
    <div class="banner">
        <section class="splide" aria-label="Splide Basic HTML Example">
            <div class="splide__arrows">
                <button class="splide__arrow splide__arrow--prev">
                    <i class="fa-solid fa-angle-left"></i>
                </button>
                <button class="splide__arrow splide__arrow--next">
                    <i class="fa-solid fa-angle-right"></i>
                </button>
            </div>
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <picture>
                            <source srcset="~/image/banner/Banner-1.webp" type="image/webp" media="(min-width:577px)">
                            <source srcset="~/image/banner/Banner-1_sm.webp" type="image/webp" media="(max-width:576px)">
                            <source srcset="~/image/banner/Banner-1_xs.webp" type="image/webp" media="(max-width:414px)">
                            <img src="~/image/banner/Banner-1.jpg" alt="banner" title="banner" class="mw-100">
                        </picture>
                    </li>
                    <li class="splide__slide">
                        <picture>
                            <source srcset="~/image/banner/Banner-2.webp" type="image/webp" media="(min-width:577px)">
                            <source srcset="~/image/banner/Banner-2_sm.webp" type="image/webp" media="(max-width:576px)">
                            <source srcset="~/image/banner/Banner-2_xs.webp" type="image/webp" media="(max-width:414px)">
                            <img src="~/image/banner/Banner-2.jpg" alt="banner" title="banner" class="mw-100" loading="lazy">
                        </picture>
                    </li>
                    <li class="splide__slide">
                        <picture>
                            <source srcset="~/image/banner/Banner-3.webp" type="image/webp" media="(min-width:577px)">
                            <source srcset="~/image/banner/Banner-3_sm.webp" type="image/webp" media="(max-width:576px)">
                            <source srcset="~/image/banner/Banner-3_xs.webp" type="image/webp" media="(max-width:414px)">
                            <img src="~/image/banner/Banner-3.jpg" alt="banner" title="banner" class="mw-100" loading="lazy">
                        </picture>
                    </li>
                    <li class="splide__slide">
                        <picture>
                            <source srcset="~/image/banner/Banner-4.webp" type="image/webp" media="(min-width:577px)">
                            <source srcset="~/image/banner/Banner-4_sm.webp" type="image/webp" media="(max-width:576px)">
                            <source srcset="~/image/banner/Banner-4_xs.webp" type="image/webp" media="(max-width:414px)">
                            <img src="~/image/banner/Banner-4.jpg" alt="banner" title="banner" class="mw-100" loading="lazy">
                        </picture>
                    </li>
                </ul>
            </div>
            <div class="splide__progress">
                <div class="splide__progress__bar"></div>
                @*<div class="splide__progress__bar__item"></div>*@
            </div>
        </section>
    </div>
</div>

<div class="container">
    <div class="content">
        <div class="introduce">
            <picture>
                <source srcset="~/image/logo_horizontal.webp" type="image/webp" media="(min-width:577px)">
                <source srcset="~/image/logo_horizontal_m.webp" type="image/webp" media="(max-width:576px)">
                <img src="~/image/logo_horizontal.svg" alt="Logo Horizontal" title="Logo Horizontal" class="mw-100 logo-horizontal">
            </picture>
            @*<img src="~/image/logo_horizontal.svg" alt="" class="mw-100 logo-horizontal" />*@
            <div class="section-first">
                <p>
                    WOW BRAVO & FUNKY RAP 是一個堅持理想的台灣品牌，以精緻手工製作每一個設計細節，概念店 1F 以純白花園為意象，展示設計師們美麗的衣裳。
                </p>
                <br />
                <p>
                    2F 為藝術空間，舉辦各類型創作展覽與表演活動，同時展示其他台灣年輕設計師品牌服裝。
                </p>
                <br />
                <p>
                    3F 為設計師工作室，可接受客戶訂製。
                </p>
            </div>
            <p class="section-second">
                WOW BRAVO & FUNKY RAP is an ideal brand of fashion, insisted
                perfect handmade for every detail. The first floor of concept
                store is a white garden, showing those beautiful works of
                designers. Second floor is an art space, organizing various types
                of exhibitions and performing, and showing other young designers’
                works of Taiwan. Third floor for designers’ studio, customization
                is acceptable.
            </p>
        </div>
        <div class="brand-image">
            @*<img src="~/image/brand-introduction.jpg" alt="" class="mw-100 exhibition" />*@
            <picture>
                <source srcset="~/image/brand-introduction.webp" type="image/webp" media="(min-width:577px)">
                <source srcset="~/image/brand-introduction_m.webp" type="image/webp" media="(max-width:576px)">
                <img src="~/image/brand-introduction.jpg" alt="花的異想世界" title="花的異想世界" class="mw-100" loading="lazy">
            </picture>
        </div>
    </div>

    <div class="content-section">
        <div class="title">
            <span>最新資訊｜</span>WHAT IS ON
        </div>
        @*<img src="~/image/event-newyear.jpg" alt="" class="mw-100" />*@
        <picture>
            <source srcset="~/image/event-newyear.webp" type="image/webp" media="(min-width:577px)">
            <source srcset="~/image/event-newyear_m.webp" type="image/webp" media="(max-width:576px)">
            <img src="~/image/event-newyear.jpg" alt="event-newyear" class="mw-100" loading="lazy">
        </picture>
    </div>

    <div class="content-section">
        <div class="inner-content-section">
            <div class="transportation-info">
                <div class="title">
                    <span>交通資訊｜</span>TRANSPORTATION INFO
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3612.3965107573276!2d121.52986061484368!3d25.122282183931066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442ae7e9a9974e1%3A0x3ae46b51dbe03b57!2sWOW%20BRAVO%20%26%20FUNKY%20RAP!5e0!3m2!1szh-TW!2stw!4v1677314012798!5m2!1szh-TW!2stw" width="400" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" title="WOW BRAVO & FUNKY RAP Google Map"></iframe>
            </div>
            <div class="address-info d-none d-lg-block">
                <div class="address-left address-item-first">W&F ADDRESS：</div>
                <div class="address-right">
                    <div class="address-item address-item-first">台北市士林區中山北路七段118號</div>
                    <div class="address-item">No.118, Sec.7, Zhongshan N. Rd., Shilin Dist., Taipei City 11151</div>
                    <div class="address-item">營業時間 TIME / 13:30-21:30</div>
                    <div class="address-item">(02) 2874-0517</div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-section">
        @*<img src="~/image/W&F-MAP.jpg" alt="" class="mw-100 logo-horizontal" />*@
        <picture>
            <source srcset="~/image/W&F-MAP.webp" type="image/webp" media="(min-width:577px)">
            <source srcset="~/image/W&F-MAP_m.webp" type="image/webp" media="(max-width:576px)">
            <img src="~/image/W&F-MAP.jpg" alt="W&F地圖" title="W&F地圖" class="mw-100" loading="lazy">
        </picture>
    </div>
</div>
