/*@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');*/
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Lato', Arial,"PingFang TC",Roboto, 微軟正黑體, "Microsoft JhengHei", sans-serif;
    font-weight: 400;
    font-size: 16px;
    /* overflow-x: hidden; */
}

/* utilities */
.mw-100 {
    max-width: 100%;
    display: block;
}

/* layout */
.wrap {
    margin-top: 81px; /* NavBar高度 */
    padding-bottom: 20px;
}

.container, .container-banner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* hamberger menu trigger checkbox */
.nav-trigger {
    /* critical styles - hide the checkbox input */
    /* position: absolute;
	clip: rect(0, 0, 0, 0); */
    display: none;
}

/* header */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-opacity {
    background-color: #fff;
}

.navbar-nav {
    display: flex;
    align-items: center;
    padding: 20px 20px 20px 20px; /* NavBar高度 41+上下間距 */
    justify-content: space-between;
}

    .navbar-nav .img-logo {
        width: 160px;
    }

    .navbar-nav .navbar-nav-list {
        display: flex;
        align-items: center;
    }

        .navbar-nav .navbar-nav-list li a {
            display: block;
            color: #000;
            text-decoration: none;
            line-height: 19px;
            letter-spacing: 0.05em;
            padding: 10px 20px;
        }

            .navbar-nav .navbar-nav-list li a:hover {
                color: #fff;
                background-color: #ACADAF;
                border-radius: 15px;
            }

        .navbar-nav .navbar-nav-list .circle-close,
        .navbar-nav .navbar-nav-list .infos {
            display: none;
        }

        .navbar-nav .navbar-nav-list .img-circle-close {
            max-width: 72px;
            cursor: pointer;
            padding: 20px;
        }

    .navbar-nav .nav-trigger-bar {
        display: none;
    }


/* footer */
.footer {
    line-height: 24px;
    font-family: 'Noto Sans TC', 'Noto Sans', sans-serif;
    background-image: url('/image/footer-bg.webp');
}

    .footer .container {
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        padding-bottom: 40px;
    }

        .footer .container.mobile {
            display: none;
        }

    .footer .icons {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

        .footer .icons .icon-list {
            display: flex;
            margin: 0 auto;
            justify-content: space-around;
            align-items: center;
            width: 150px;
            margin-bottom: 20px;
        }

            .footer .icons .icon-list .icon-img {
                max-width: 30px;
            }

            .footer .icons .icon-list i {
                color: #000;
                font-size: 30px;
            }

    .footer .contacts {
        text-align: right;
    }

        .footer .contacts .address-tc {
            letter-spacing: 0.6px;
        }

.under-construction {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 50px;
}

.phone {
    color: #000 !important;
}

/* md */
@media screen and (max-width: 768px) {
    .wrap {
        margin-top: 80px;
    }

    .wrap,
    .footer {
        position: relative;
        top: 0;
        bottom: 100%;
        right: 0;
    }

    .navbar-nav .nav-trigger-bar {
        display: block;
    }

        .navbar-nav .nav-trigger-bar i {
            cursor: pointer;
            font-size: 40px;
        }

    .navbar-nav .navbar-nav-list {
        flex-direction: column;
        background-color: #fafafa;
        /* critical sizing and position styles */
        height: 100%;
        position: fixed;
        top: 0;
        right: -235px;
    }
    /* hamberger menu trigger animation */
    .navbar-nav-list,
    .wrap,
    .footer {
        transition: right 1s;
    }

    .nav-trigger:checked ~ * .navbar-nav-list {
        right: 0px;
    }

    .nav-trigger:checked ~ .wrap,
    .nav-trigger:checked ~ * .footer {
        right: 245px;
    }

    .navbar-nav .navbar-nav-list li {
        display: block;
        width: 100%;
        font-size: 21.6px;
    }

        .navbar-nav .navbar-nav-list li a,
        .navbar-nav .navbar-nav-list .infos {
            padding: 18px 20px; /* 左右padding對應到 .navbar-nav-list > right:-290px */
        }

            .navbar-nav .navbar-nav-list li a:hover {
                border-radius: 0px;
            }

    .navbar-nav .navbar-nav-list .circle-close {
        display: flex;
        justify-content: flex-end;
    }

    .navbar-nav .navbar-nav-list .infos {
        display: block;
        margin-top: 70px;
    }

        .navbar-nav .navbar-nav-list .infos .text {
            font-size: 13px;
            margin-bottom: 20px;
        }

        .navbar-nav .navbar-nav-list .infos .logo_horizontal {
            /* width: 240px; */
            margin-bottom: 25px;
        }


    /* footer */
    .footer .container.web {
        display: none;
    }

    .footer .container.mobile {
        display: block;
    }

        .footer .container.mobile .contacts,
        .footer .container.mobile .copyright {
            text-align: center;
        }

            .footer .container.mobile .contacts .p {
                margin-bottom: 30px;
            }
}

/* sm */
@media screen and (max-width: 576px) {
    .wrap {
        margin-top: 72.58px;
    }

    .navbar-nav .logo {
        width: 30%;
    }

    .navbar-nav .navbar-nav-list {
        right: -270px;
        width: 270px;
    }

    .nav-trigger:checked ~ .wrap,
    .nav-trigger:checked ~ * .footer {
        right: 280px;
    }

    .navbar-nav .nav-trigger-bar i {
        font-size: 30px;
    }

    .container-banner {
        padding: 0;
    }
}

/* xs */
@media screen and (max-width: 414px) {
    .wrap {
        margin-top: 60px;
    }

    .navbar-nav .nav-trigger-bar i {
        font-size: 20px;
    }

    .navbar-nav .navbar-nav-list {
        right: -250px;
        width: 250px;
    }

    .nav-trigger:checked ~ .wrap,
    .nav-trigger:checked ~ * .footer {
        right: 260px;
    }
}
