
/* Style the tab */
.tab {
    overflow: hidden;
    /*border: 1px solid #ccc;*/
    background-color: #EFEFEF;
    margin-bottom: 36px;
}

/* Style the buttons inside the tab */
.tab-btn {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 0px 6px 11px;
    text-align: left;
    transition: 0.3s;
    font-weight: 500;
    font-size: 16px;
    width: 195px;
    color: #696969 !important;
}

    .tab-btn .zh-tc {
        line-height: 23px;
        letter-spacing: 0.25em;
        /*letter-spacing: 0.3em;*/
        /*margin-bottom: 3px;*/
    }

    .tab-btn .us-en {
        line-height: 19px;
        letter-spacing: 0.05em;
    }

    /* Change background color of buttons on hover */
    .tab-btn:hover {
        color: #ffffff;
        background-color: #000000;
    }

    /* Create an active/current tablink class */
    .tab-btn.active {
        color: #ffffff !important;
        background-color: #000000;
    }

/* Style the tab content */
.tabcontent {
    display: none;
    /*border: 1px solid #ccc;*/
    /*border-top: none;*/
}

.exhibition {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

    .exhibition .item {
        display: flex;
        margin-bottom: 72px;
        text-align: center;
        flex: 33.33%;
        max-width: 33.33%;
        /*padding: 0 4px;*/
        padding-right: 5px;
    }

        .exhibition .item:nth-child(2), .exhibition .item:nth-child(5), .exhibition .item:nth-child(8) {
            justify-content: center;
            padding: 0 5px;
        }

        .exhibition .item:nth-child(3), .exhibition .item:nth-child(6), .exhibition .item:nth-child(9) {
            justify-content: end;
            padding-left: 5px;
        }

    .exhibition .item-inner {
        max-width: 355px;
    }

    .exhibition .item .img {
        margin-bottom: 24px;
    }

    .exhibition .item .exhibitor {
        color: #707070;
        font-size: 12px;
        line-height: 17px;
        letter-spacing: 0.1em;
        margin-bottom: 16px;
        /*height: 34px;*/
    }

    .exhibition .item .name {
        font-size: 20px;
        font-weight: 500;
        height: 57px;
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .exhibition .item .name-en {
        line-height: 24px;
        letter-spacing: 0.1em;
        margin-bottom: 4px;
    }

    .exhibition .item .name-tw {
        line-height: 29px;
        letter-spacing: 0.15em;
    }

    .exhibition .item .period {
        color: #707070;
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: 0.06em;
    }



/* xxl */
@media screen and (max-width: 1400px) {
}

/* xl */
@media screen and (max-width: 1145px) {
}

/* lg */
@media screen and (max-width: 992px) {
    .exhibition .item {
        flex: 50%;
        max-width: 50%;
        justify-content: center !important;
        padding: 0 10px !important;
    }
}

/* md */
@media screen and (max-width: 768px) {
}

/* sm */
@media screen and (max-width: 576px) {
    .exhibition .item {
        flex: 100%;
        max-width: 100%;
        padding: 0 !important;
    }
}

/* xs */
@media screen and (max-width: 414px) {
}
