/* content */
.content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.introduce {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-right: 80px;
}

    .introduce .logo-horizontal {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .introduce .section-first {
        line-height: 26px;
        letter-spacing: 0.1em;
        text-align: justify;
        margin-bottom: 50px;
    }

        .introduce .section-first p {
            margin-bottom: 15px;
        }

    .introduce .section-second {
        line-height: 28px;
        text-align: justify;
        margin-bottom: 100px;
    }

.brand-image {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-section {
    border-top: solid 2px #e2e2e2;
    padding-top: 40px;
    padding-bottom: 48px;
}

    .content-section .title {
        display: flex;
        font-weight: 500;
        margin-bottom: 30px;
        align-items: center;
    }

        .content-section .title .name-tw {
            font-size: 22px;
            line-height: 32px;
            letter-spacing: 0.25em;
            margin-right: 6px;
        }

        .content-section .title .name-en {
            font-size: 18px;
            line-height: 26px;
            letter-spacing: 0.06em;
        }

.inner-content-section {
    display: flex;
}

.transportation-info {
    border-right: solid 2px #e2e2e2;
    padding-right: 50px;
    margin-right: 50px;
}

.address-info {
    display: flex;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.04em;
    margin-top: 5px;
}

    .address-info .address-left {
        width: 155px;
    }

    .address-info .address-item.name-tw {
        font-size: 20px;
        letter-spacing: 0.2em;
    }

    .address-info .address-item.name-en {
        line-height: 22px;
        letter-spacing: 0;
    }

    .address-info .address-item {
        margin-bottom: 45px;
    }

        .address-info .address-item:last-child {
            margin-bottom: 0px;
        }

@media screen and (max-width: 1145px) {

    .address-info {
        display: block;
    }

        .address-info .address-left {
            margin-bottom: 30px;
        }
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
    /* banner */
    .banner .container {
        padding: 0;
    }

    /* content */
    .content {
        flex-direction: column;
        margin-bottom: 50px;
    }

    .introduce {
        width: 100%;
        align-items: center;
        padding-right: 0px;
    }

        .introduce .section-first {
            font-size: 13px;
            margin-bottom: 50px;
        }

        .introduce .section-second {
            font-size: 13px;
            margin-bottom: 50px;
        }

        .introduce .logo-horizontal {
            width: 400px;
            margin-top: 0px;
            margin-bottom: 15px;
        }

    .brand-image {
        width: 100%;
    }

    .inner-content-section {
        display: flex;
        flex-direction: column;
    }

    .transportation-info {
        border-right: none;
        border-bottom: none;
        padding-right: 0px;
        margin-right: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    iframe {
        aspect-ratio: 16/9;
        height: 100%;
        width: 100%;
    }

    .address-info {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .introduce .logo-horizontal {
        width: 350px;
    }
    .content-section .title .name-tw {
        font-size: 18px;
        line-height: 28px;
    }

    .content-section .title .name-en {
        font-size: 14px;
        line-height: 22px;
    }
}

@media screen and (max-width: 414px) {
    .introduce .logo-horizontal {
        width: 300px;
    }
}
