@model Role

@{
    ViewData["Title"] = "角色 - 檢視";

    var headerBread = new HeaderWithBreadcrumb();
    headerBread.BreadcrumbItems.Add(new BreadcrumbItem() { Action = "Index", Controller = "Roles", Title = "角色" });
}

<partial name="_HeaderWithBreadcrumbPartial" model="headerBread" />

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mb-3 text-right">
                <partial name="_IndexBtn" model="ViewHelper.GetBtn(null, CommonStr.Roles, CommonStr.Index)" />
            </div>
            <div class="col-12">
                <div class="row js-readonly">
                    <partial name="_Content" model="Model" />
                </div>
            </div>
        </div>
    </div>
</section>

