@model UserLog

<div class="col-12 m-0 p-0"></div>

<div class="col-md-6 js-readonly">
    <div class="form-group">
        <label asp-for="CreateTime" class="form-label"></label>
        <input asp-for="CreateTime" type="text" class="form-control" />
    </div>
</div>
<div class="col-md-6 js-readonly">
    <div class="form-group">
        <label asp-for="CreateUserId" class="form-label"></label>
        <input asp-for="CreateUserId" class="form-control" />
    </div>
</div>
<div class="col-md-6 js-readonly">
    <div class="form-group">
        <label asp-for="UpdateTime" class="form-label"></label>
        <input asp-for="UpdateTime" type="text" class="form-control" />
    </div>
</div>
<div class="col-md-6 js-readonly">
    <div class="form-group">
        <label asp-for="UpdateUserId" class="form-label"></label>
        <input asp-for="UpdateUserId" class="form-control" />
    </div>
</div>